<ion-header >
  <ion-toolbar color="primary">
    <ion-searchbar #searchbox [showCancelButton]="'always'" (ionCancel)="onSelectEvent(null)">
    </ion-searchbar>
    <ion-buttons slot="end">
        <ion-button (click)="getMarkerLocation()">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div #map id="map"></div>
</ion-content>