<ion-content color="tertiary">
    <ion-virtual-scroll [items]="activePasses" [approxItemHeight]="120">  
        <div *virtualItem="let item">
            <app-pass-list-item [cardColor]="'gray'" [avatar]="item.its_active_pass.its_owner.profileImageUrl" [name]="item.its_active_pass.get_event.event_name" [community]="item.its_active_pass.its_owner.community_id.name" [discription]="item.its_active_pass.description" [startFormattedDates]="item.its_active_pass.startFormattedDates" [sender]="item.its_active_pass.its_owner.fullName" [formatHoursToText]="this.utility.formatHoursToText(item.its_active_pass.pass_validity)" [qrcode]="item.qrcode"></app-pass-list-item>
        </div>
    </ion-virtual-scroll>
</ion-content>
