<ion-item lines="none">
    <ion-avatar slot="start" *ngIf="image">
        <ion-img [src]="image"></ion-img>
    </ion-avatar>
    <ion-label>
        <h2>{{name}}</h2>
        <p *ngIf="phone" [innerHtml]="utility.onkeyupFormatPhoneNumberRuntime(phone)"></p>
        <p *ngIf="text" [innerHtml]="text"></p>

    </ion-label>
    <ion-checkbox *ngIf="isCheck" color="dark" (click)="contactSelected($event)" ></ion-checkbox>
    <ion-button *ngIf="!isCheck" size="small" fill="clear" slot="end" (click)="option($event)">
        <ion-icon [name]="icon"></ion-icon>
    </ion-button>
</ion-item>