<app-custom-header title="Sync Contacts" [IsTransparent]="true" [cangoback]="true"></app-custom-header>
<ion-content padding class="full-image-background" fullscreen="true" scrollY="false">

    <div class="logo">
        <img src="assets/imgs/logo_dark_tutorial.png" />
      </div>

    <ion-list class="translucent">
        <div class="form_title" padding>
          <h2>Become a Resident</h2>
          <p style="text-transform:lowercase;font-size:0.8em;">In order to upgrade to a resident type user, please enter the unique code provided to you by email by community administrator</p>
        </div>
        <form>
          <ion-item>
            <ion-label position="stacked">
              Verification Code
              <ion-icon name="lock"></ion-icon>
            </ion-label>
            <ion-input type="email" id="email" placeholder="example@info.com"></ion-input>
    <!--        <ion-input type="text" formControlName="code" id="code" placeholder="XXXXXX"></ion-input>-->
          </ion-item>
    
    <!--      <ion-item>-->
    <!--        <ion-badge>invalid code...</ion-badge>-->
    <!--      </ion-item>-->
    
          <div padding class="left-con-padding">
            <button ion-button round color="primary" block type="submit">Proceed  <ion-icon name="send"></ion-icon></button>
          </div>
          <button class="proceed_btn" ion-item text-wrap text-center>
            if you do not have the code, please contact the administrator or <strong>Click here</strong>
          </button>
    
        </form>
    
      </ion-list>

</ion-content>
