ion-content.dim-background {
    background: #f2f2f2;
}
.logo-outer{
    background: var(--ion-color-primary);
    height: 120px;
    position: relative;
    .logo-tutorial{
        position: absolute;
        left: 0;
        right: 0;
        top: 29px;
    }
    .skiptour{
        right: 15px;
        bottom: -16px;
        position: absolute;
    }
}

.slide-description {
    font-size: 14px;
    opacity: 0.8;
}

.slide-image {
    max-height: 45%;
    max-width: 50%;
    margin: 10px auto;
}