<ion-list no-margin mode="ios" *ngIf="flag == 'C'">
  <ion-item lines="none" detail (click)="close('SP')" *ngIf="can_send_passes">
    <ion-label>Send a Pass</ion-label>
  </ion-item>
  <ion-item lines="none" detail (click)="close('RP')" [hidden]="!can_request_passes">
    <ion-label>Request a pass</ion-label>
  </ion-item>
  <ion-item lines="none" (click)="close('C')">
    <ion-label>Call</ion-label>
    <ion-icon color="light" name="call"></ion-icon>
  </ion-item>
  <ion-item lines="none" detail (click)="close('E')">
    <ion-label>Edit Contact</ion-label>
  </ion-item>
  <ion-item lines="none" detail (click)="close('G')">
    <ion-label>Add To Group</ion-label>
  </ion-item>
  <ion-item lines="none" detail (click)="close('F')">
    <ion-label>Add To Favorites</ion-label>
  </ion-item>
  <ion-item  color="danger" lines="none" (click)="close('D')">
    <ion-label>Delete Contact</ion-label>
    <ion-icon color="light" name="trash"></ion-icon>
  </ion-item>
</ion-list> 

<ion-list no-margin *ngIf="flag == 'G'">
  <ion-item lines="none" (click)="close('S')"> <ion-label>Expand/Collapse Contacts</ion-label></ion-item>
  <ion-item lines="none" detail (click)="close('G')"> <ion-label>Add Contact(s) to group </ion-label></ion-item>
  <ion-item lines="none" detail (click)="close('SP')"> <ion-label>Send a Pass </ion-label></ion-item>
  <ion-item lines="none" detail (click)="close('E')"> <ion-label>Edit Group Name</ion-label></ion-item>
  <ion-item color="danger" lines="none" (click)="close('D')"> <ion-label>Delete Group</ion-label><ion-icon color="light" name="trash"></ion-icon></ion-item>
</ion-list>

<ion-list no-margin *ngIf="flag == 'F'">
  <ion-item lines="none" detail (click)="close('SP')" *ngIf="can_send_passes"><ion-label>Send a Pass </ion-label></ion-item>
  <ion-item lines="none" detail (click)="close('RP')" [hidden]="!can_request_passes"><ion-label>Request a pass</ion-label></ion-item>
  <ion-item lines="none" (click)="close('C')"><ion-label>Call</ion-label><ion-icon color="light" name="call"></ion-icon></ion-item>
  <ion-item lines="none" detail (click)="close('E')"><ion-label>Edit Contact</ion-label></ion-item>
  <ion-item lines="none" detail (click)="close('G')"><ion-label>Add To Group</ion-label></ion-item>
  <ion-item lines="none" (click)="close('R')"><ion-label>Remove From Favorites</ion-label><ion-icon color="light" name="close"></ion-icon></ion-item>
</ion-list>

<ion-list no-margin *ngIf="flag == 'RL'">
  <ion-item lines="none" (click)="close('None')"><ion-label>Send a Pass </ion-label></ion-item>
  <ion-item lines="none" (click)="close('Husband')"><ion-label>Husband</ion-label></ion-item>
  <ion-item lines="none" (click)="close('Wife')"><ion-label>Wife</ion-label></ion-item>
  <ion-item lines="none" (click)="close('Father')"><ion-label>Father</ion-label></ion-item>
  <ion-item lines="none" (click)="close('Mother')"><ion-label>Mother</ion-label></ion-item>
  <ion-item lines="none" (click)="close('Son')"><ion-label>Son</ion-label></ion-item>
  <ion-item lines="none" (click)="close('Daughter')"><ion-label>Daughter</ion-label></ion-item>
  <ion-item lines="none" (click)="close('Brother')"><ion-label>Brother</ion-label></ion-item>
  <ion-item lines="none" (click)="close('Sister')"><ion-label>Sister</ion-label></ion-item>
  <ion-item lines="none" (click)="close('Uncle')"><ion-label>Uncle</ion-label></ion-item>
  <ion-item lines="none" (click)="close('Aunty')"><ion-label>Aunty</ion-label></ion-item>
</ion-list>

<ion-list *ngIf="flag == 'CF'">
  <ion-button (click)="close('PC')" *ngIf="can_manage_family">Parental Controls</ion-button>
  <ion-button (click)="close('P')">Manage Passes</ion-button>
  <ion-button *ngIf="can_manage_family" (click)="close('E')" [disabled]="lock_head_of_family">Edit <ion-icon iten-end *ngIf="lock_head_of_family" ios="ios-lock" md="md-lock"></ion-icon></ion-button>
  <ion-button *ngIf="can_manage_family" (click)="close('D')" [disabled]="lock_head_of_family">Delete <ion-icon iten-end *ngIf="lock_head_of_family" ios="ios-lock" md="md-lock"></ion-icon></ion-button>
</ion-list>

<ion-list *ngIf="flag == 'SW'" class="mb-0">
  <ion-item *ngFor="let item of sw_users" (click)="close(item)" >
    <ion-avatar slot="start">
      <img [src]="item.profile_image">
    </ion-avatar>
    <ion-label>
        <h2>{{item.name}}</h2>
        <p>{{item.phone_number}}</p>
    </ion-label>
  </ion-item>
  <ion-item *ngIf="sw_users.length == 0" (click)="close(null)" >
    <ion-label>
        <h2>No User Found</h2>
    </ion-label>
    
  </ion-item>

</ion-list>

<ion-list no-margin *ngIf="flag == 'D'">
    <ion-item color="danger" lines="none" (click)="close('D')"> <ion-label>{{delete_label}}</ion-label><ion-icon color="light" name="trash"></ion-icon></ion-item>
</ion-list>

