<app-custom-header title="Passes"></app-custom-header>
<ion-content class="has-top-switch has-ion-fab" color="tertiary">
    <ion-tabs>
        <!-- Tab bar -->
        <ion-tab-bar slot="top" color="tertiary">
            <ion-tab-button [routerLinkActive]="['active-tab']" [layout]="'icon-start'" [routerLink]="['/tabs/passes/received']">
                <ion-icon name="checkmark-circle"></ion-icon>
                <ion-label>Received</ion-label>
            </ion-tab-button>
            <ion-tab-button [routerLinkActive]="['active-tab']" [layout]="'icon-start'" [routerLink]="['/tabs/passes/archieve']">
                <ion-icon name="information-circle"></ion-icon>
                <ion-label>Archieved</ion-label>
            </ion-tab-button>
            <ion-tab-button [routerLinkActive]="['active-tab']" [layout]="'icon-start'" [routerLink]="['/tabs/passes/sent']">
                <ion-icon name="redo"></ion-icon>
                <ion-label>Sent</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
        <router-outlet></router-outlet>
    </ion-tabs>
</ion-content>