<ion-header>
  <app-scroll-alpha (zalpha)="filterByAlpha($event)"></app-scroll-alpha>
</ion-header>

<ion-content>
    <ion-virtual-scroll [items]="fav_contacts" [approxItemHeight]="120">
        <div *virtualItem="let item" > 
            <app-contact-item [id]="item.id" [image]="item.its_user?.profileImageUrl" [name]="item.display_name"
                [phone]="item.phone_number" icon="options" (fireOptions)="options(item)">
            </app-contact-item>
        </div>
    </ion-virtual-scroll>
</ion-content>
