<!-- <ion-header>
  <ion-toolbar>
    <ion-title>contacts</ion-title>
  </ion-toolbar>
</ion-header> -->
<app-custom-header title="Contacts"></app-custom-header>
<ion-content>

        <ion-tabs>
            <!-- Tab bar -->
            <ion-tab-bar slot="top" color="tertiary">
                <ion-tab-button [routerLinkActive]="['active-tab']" [layout]="'icon-start'" [routerLink]="['/tabs/contacts/contacts']">
                    <ion-icon name="checkmark-circle"></ion-icon>
                    <ion-label>Contacts</ion-label>
                </ion-tab-button>
                <ion-tab-button [routerLinkActive]="['active-tab']" [layout]="'icon-start'" [routerLink]="['/tabs/contacts/groups']">
                    <ion-icon name="information-circle"></ion-icon>
                    <ion-label>Groups</ion-label>
                </ion-tab-button>
                <ion-tab-button [routerLinkActive]="['active-tab']" [layout]="'icon-start'" [routerLink]="['/tabs/contacts/favorites']">
                    <ion-icon name="redo"></ion-icon>
                    <ion-label>Favorites</ion-label>
                </ion-tab-button>
            </ion-tab-bar>
            <router-outlet></router-outlet>
        </ion-tabs>








    <!-- <div class="filter-components" slot="fixed">
        <ion-segment color="primary" class="sagment-sub-header" mode="ios" [(ngModel)]="contact_type"
            (ionChange)="switchSagment(contact_type)">
            <ion-segment-button checked value="contacts">
                <ion-label>Contacts</ion-label>
            </ion-segment-button>
            <ion-segment-button value="groups">
                <ion-label>Groups</ion-label>
            </ion-segment-button>
            <ion-segment-button value="favorites">
                <ion-label>Favorities</ion-label>
            </ion-segment-button>
        </ion-segment>
        <app-scroll-alpha (zalpha)="filterByAlpha($event)"></app-scroll-alpha>
    </div>
    
    <ion-grid no-padding [ngSwitch]="contact_type">
        <div *ngSwitchCase="'contacts'">
            <ion-virtual-scroll [items]="phone_contacts" [approxItemHeight]="120">
                <div *virtualItem="let item" >
                    <app-contact-item [id]="item.id" [image]="item.its_user?.profileImageUrl" [name]="item.display_name"
                        [phone]="item.phone_number" icon="options" (fireOptions)="contactPopover($event, item, 'C')">
                    </app-contact-item>
                </div>
            </ion-virtual-scroll>
        </div>
        <div *ngSwitchCase="'groups'">
            <div *ngFor="let group of group_contacts; let i = index">
                <ion-list-header padding color="light" (click)="contactPopover($event, group, 'G')">
                    <ion-label>{{ group.group_name }} ({{group.contacts.length}})</ion-label>
                    <ion-icon name="options"></ion-icon>
                </ion-list-header>
                <ion-list *ngIf="( group.contacts?.length > 0 ) && group.open">
                    <ion-virtual-scroll [items]="group.contacts" [approxItemHeight]="120">
                        <div *virtualItem="let item">
                            <app-contact-item [id]="item.id" [image]="item.contact_detail.its_user.profileImageUrl"
                                [name]="item.contact_detail.display_name" [phone]="item.contact_detail.phone_number"
                                icon="close" (fireOptions)="removeContactFromGroup(i, item)"></app-contact-item>
                        </div>
                    </ion-virtual-scroll>
                </ion-list>
            </div>
        </div>
        <div *ngSwitchCase="'favorites'">
            <ion-virtual-scroll [items]="fav_contacts" [approxItemHeight]="120">
                <div *virtualItem="let item">
                    <app-contact-item [id]="item.id" [image]="item.its_user?.profileImageUrl" [name]="item.display_name"
                        [phone]="item.phone_number" icon="options" (fireOptions)="contactPopover($event, item, 'F')">
                    </app-contact-item>
                </div>
            </ion-virtual-scroll>
        </div>
    </ion-grid>

    
    <app-empty-view *ngIf="phone_contacts.length == 0 && contact_type == 'contacts'" icon="contact"
        text="No Contacts Found"></app-empty-view>
    <app-empty-view *ngIf="group_contacts.length == 0 && contact_type == 'groups'" icon="contacts"
        text="No Groups Found"></app-empty-view>
    <app-empty-view *ngIf="fav_contacts.length == 0   && contact_type == 'favorites'" icon="heart-empty"
        text="No Favorites Found"></app-empty-view> -->
        
        
</ion-content>
<!-- <ion-footer>
    <ion-fab vertical="bottom" horizontal="end" mode="ios" *ngIf="contact_type == 'contacts'">
        <ion-fab-button size="small" ion-fab>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <label class="floating-label" side="left">Add Contact</label>
        <ion-fab-list side="top">
            <ion-fab-button outline="true" color="light" (click)="plusHeaderButton('S')"><ion-icon name="person-add"></ion-icon></ion-fab-button>
            <ion-fab-button outline="true" color="light" class="fab-c-width-for-image" (click)="plusHeaderButton('M')"><img
                src="assets/imgs/phonebook.png"></ion-fab-button>
        </ion-fab-list>
    </ion-fab>
    <ion-fab vertical="bottom" horizontal="end" mode="ios" *ngIf="contact_type == 'groups'">
            <ion-fab-button size="small" (click)="plusHeaderButton('RG')">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
            <label class="floating-label" side="left">Add Group</label>
    </ion-fab>
        
    <ion-fab vertical="bottom" horizontal="end" mode="ios" *ngIf="contact_type == 'favorites'" >
        <ion-fab-button size="small" (click)="plusHeaderButton('FC')">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <label class="floating-label" side="left">Add Favorites</label>
    </ion-fab>
</ion-footer> -->