<ion-content color="tertiary">
  <ion-virtual-scroll [items]="archiveSentPasses" [approxItemHeight]="120">  
    <div *virtualItem="let item">
        <app-pass-list-item [id]="item.id" [ShowButton]="'true'" [cardColor]="'gray'" [avatar]="item.its_owner.profileImageUrl" [name]="item.get_event.event_name" [sender]="item.its_owner.fullName" [discription]="item.description" [startFormattedDates]="item.startFormattedDates" [formatHoursToText]="(item.pass_validity) ? utility.formatHoursToText(item.pass_validity) : ''"></app-pass-list-item>
    </div>
</ion-virtual-scroll>
</ion-content>
