<ion-content color="tertiary">
    <ion-tabs>
        <!-- Tab bar -->
        <ion-tab-bar slot="bottom" color="tertiary">
            <ion-tab-button [routerLinkActive]="['active-tab']" [routerLink]="['/tabs/passes/archieve/archive']">
                <ion-label>Archive</ion-label>
            </ion-tab-button>
            <ion-tab-button [routerLinkActive]="['active-tab']" [routerLink]="['/tabs/passes/archieve/sent']">
                <ion-label>Sent</ion-label>
            </ion-tab-button>
            <ion-tab-button [routerLinkActive]="['active-tab']" [routerLink]="['/tabs/passes/archieve/scan']">
                <ion-label>Scan</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
        <router-outlet></router-outlet>
    </ion-tabs>
</ion-content>