<ion-header>
  <ion-toolbar>
    <ion-title>groups</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let group of group_contacts; let i = index">
    <ion-list-header padding color="light" (click)="contactPopover($event, group, 'G')">
        <ion-label>{{ group.group_name }} ({{group.contacts.length}})</ion-label>
        <ion-icon name="options"></ion-icon>
    </ion-list-header>
    <ion-list *ngIf="( group.contacts?.length > 0 ) && group.open">
        <ion-virtual-scroll [items]="group.contacts" [approxItemHeight]="120">
            <div *virtualItem="let item">
                <app-contact-item [id]="item.id" [image]="item.contact_detail.its_user.profileImageUrl"
                    [name]="item.contact_detail.display_name" [phone]="item.contact_detail.phone_number"
                    icon="close" (fireOptions)="removeContactFromGroup(i, item)"></app-contact-item>
            </div>
        </ion-virtual-scroll>
    </ion-list>
</div>
</ion-content>
