ion-content.full-image-background{
    --background: url("./../../../assets/imgs/bg-m1.jpg") 0 0/100% 100% no-repeat;
    --background-size: cover;
    --background-position: center center;
}
.logo-outer{
    height: 90px;
    position: relative;
    .logo-tutorial{
        margin: 0 auto;
    }
}
ion-list.translucent {
    background: rgba(255, 255, 255, 0.85);
    padding-top: 15px;
    padding-bottom: 15px;
    ion-item {
      padding: 0px !important;
      border-top: 0px !important;
      --background: transparent !important;
      border-bottom: 1px solid #f3f3f3 !important;
      ion-label {
        color: #053058;
        text-transform: uppercase;
        ion-icon {
          font-size: 2.4em;
          position: absolute;
          right: 15px;
          color: #484848;
        }
      }
    }
}