<ion-header>
    <app-scroll-alpha (zalpha)="filterByAlpha($event)"></app-scroll-alpha>
</ion-header>

<ion-content>
  <ion-virtual-scroll [items]="phone_contacts" [approxItemHeight]="120">
    <div *virtualItem="let item" > 
        <app-contact-item [id]="item.id" [image]="item.its_user?.profileImageUrl" [name]="item.display_name"
            [phone]="item.phone_number" icon="options" (fireOptions)="options(item)">
        </app-contact-item>
    </div>
</ion-virtual-scroll>
</ion-content>
<ion-footer>
    <ion-fab vertical="bottom" horizontal="end" mode="ios">
        <ion-fab-button size="small" ion-fab>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <label class="floating-label" side="left">Add Contact</label>
        <ion-fab-list side="top">
            <ion-fab-button outline="true" color="light" (click)="plusHeaderButton('S')"><ion-icon name="person-add"></ion-icon></ion-fab-button>
            <ion-fab-button outline="true" color="light" class="fab-c-width-for-image" (click)="plusHeaderButton('M')"><img
                src="assets/imgs/phonebook.png"></ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-footer>
