.c-scroll-inner {
  background: #ffffff;
  height: 25px !important;
  .c-scroll-inner-2.active {
    background: #203e72;
    color: #fff;
    font-size: 18px;
    position: relative;
  }

  // .c-scroll-inner-2.active:before {
  //   position: absolute;
  //   content: "";
  //   width: 9px;
  //   height: 9px;
  //   text-outline: 0px;
  //   background: green;
  //   top: 4px;
  //   border-radius: 50%;
  //   right: 5px;
  // }

  .c-scroll-inner-2 {
    height: 100%;
    width: 80px;
    float: left;
    height: 100%;
    background: #ffffff;
    color: #324d7f;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
  }

  .c-scroll-inner-2.dates {
    font-size: 19px;
    word-wrap: break-word;
    padding: 0 5px;
  }
}
