<ion-header>
  <ion-toolbar color="primary">
    <ion-searchbar [showCancelButton]="'always'" (ionCancel)="onSelectCountry(null)" (search)="getItems($event, true)" (ionInput)="getItems($event, false)" ></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="( countries?.length > 0 )">
    <ion-virtual-scroll [items]="countries" [approxItemHeight]="120">
      <div *virtualItem="let item" (click)="onSelectCountry(item)">
        <app-contact-item [image]="item.image"
          [name]="item.name" [text]="item.dial_code + ' ' + item.code" icon=""></app-contact-item>
      </div>
    </ion-virtual-scroll>
  </ion-list>
  <ion-list *ngIf="( states?.length > 0 )">
      <ion-virtual-scroll [items]="states" [approxItemHeight]="120">
        <div *virtualItem="let item" (click)="onSelectCountry(item)">
          <app-contact-item
            [name]="item.name" [text]="item.abbreviation"></app-contact-item>
        </div>
      </ion-virtual-scroll>
    </ion-list>
</ion-content>