<ion-header >
  <ion-toolbar color="primary">
    <ion-searchbar [showCancelButton]="'always'" (ionCancel)="onSelectEvent(null)" (search)="setFilteredItems($event)" (ionInput)="setFilteredItems($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="( userEvents?.length > 0 )">
    <ion-virtual-scroll [items]="userEvents" [approxItemHeight]="120">
      <div *virtualItem="let item" (click)="onSelectEvent(item)">
        <ion-item *ngIf="item.created_by == '0'">
          <ion-label>{{item.event_name}}</ion-label>
        </ion-item>
        <ion-item-sliding *ngIf="item.created_by != '0'">
          <ion-item>
            <ion-label>{{item.event_name}}</ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="tertiary" expandable (click)="addEventToList($event, item)">
              <ion-icon name="create"></ion-icon>
            </ion-item-option>
            <ion-item-option color="danger" expandable (click)="showConfirm($event, item)">
              <ion-icon name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </div>
    </ion-virtual-scroll>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-fab vertical="bottom" horizontal="end" mode="ios">
    <ion-fab-button size="small" (click)="addEventToList($event)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>