// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-toolbar.transparent {
  --background: transparent;
  --ion-color-base: transparent !important;
}

.scrollable {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
}

ion-segment.sagment-sub-header {
  background-color: var(--ion-color-tertiary);
  ion-segment-button {
    color: #fff !important;
    padding: 08px;
    // height: 50px !important;
    border-radius: 0px !important;
    border: unset;
  }
}

.popover-bottom {
  .popover-content {
    position: absolute;
    left: 0 !important;
    bottom: 0 !important;
    top: unset !important;
    width: 100% !important;
    border-radius: unset !important;
  }
}

.floating-label{
  position: absolute;
  left: -100px;
  bottom: 10px;
  transform: translateY(-20%);
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 4px 10px 10px 4px;
  width: 100px;
  text-align: center;
  font-size: 11px;
}

.display-none {
  display: none !important;
}
.display-block {
  display: block !important;
}

.filter-components{
  position: fixed;
  width: 100%;
}
