<app-custom-header title="Contact Profile" [fromModal]="true" (closeModal)="close(false)" [cangoback]="true" ></app-custom-header>
<ion-content>

  <ion-list class="translucent" >
    <form [formGroup]="aForm" (ngSubmit)="create()" novalidate>
      <ion-item [ngClass]="!show_relation ? 'display-block' : 'display-none' " >
        <ion-label>Temporary Contact</ion-label>
        <ion-toggle formControlName="is_temporary"></ion-toggle>
      </ion-item>
      
      <ion-item [ngClass]="(aForm.controls.is_temporary.value == false) ? 'display-none' : 'display-block' ">
        <ion-label position="stacked">Contct Duration</ion-label>
        <ion-select formControlName="temporary_duration">
          <ion-select-option value="6">6 Hours</ion-select-option>
          <ion-select-option value="12">12 Hours</ion-select-option>
          <ion-select-option value="24">24 Hours</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Member Name</ion-label>
        <ion-input type="text" formControlName="name" id="name" placeholder="Full Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="email" formControlName="email" id="email" placeholder="" ></ion-input>
      </ion-item>
      <ion-item *ngIf="show_relation == true">
        <ion-label position="stacked">Relationship</ion-label>
        <ion-select formControlName="relationship" text-capitalize>
          <ion-select-option value="None">None</ion-select-option>
          <ion-select-option value="Husband">Husband</ion-select-option>
          <ion-select-option value="Wife">Wife</ion-select-option>
          <ion-select-option value="Father">Father</ion-select-option>
          <ion-select-option value="Mother">Mother</ion-select-option>
          <ion-select-option value="Son">Son</ion-select-option>
          <ion-select-option value="Daughter">Daughter</ion-select-option>
          <ion-select-option value="Brother">Brother</ion-select-option>
          <ion-select-option value="Sister">Sister</ion-select-option>
          <ion-select-option value="Uncle">Uncle</ion-select-option>
          <ion-select-option value="Aunty">Aunty</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item >
          <ion-chip slot="start" outline="true" (click)="getCountryCode()"> 
              <ion-avatar>
                <ion-img src="{{dial_code.image}}"></ion-img>
              </ion-avatar>
              <ion-label>{{aForm.controls.dial_code.value}}</ion-label>
        </ion-chip>
          <ion-input type="tel" (input)="onTelephoneChange($event)" formControlName="phone_number" placeholder="Phone Number"></ion-input>
          
      </ion-item>
      <div padding>
        <ion-button [class.display-none]="!show_relation && isUpdate == false" shape="round" fill="outline" expand="block" (click)="openList()">Select From Phonebook</ion-button>
      </div>
      <ion-list *ngIf="show_relation">

          <ion-item>
            <ion-label>Can Manage Household</ion-label>
            <ion-checkbox color="dark" formControlName="can_manage_family" ></ion-checkbox>
          </ion-item>
  
          <ion-item>
            <ion-label>Can Send Passes</ion-label>
            <ion-checkbox color="dark" formControlName="can_send_passes" ></ion-checkbox>
          </ion-item>
  
          <ion-item *ngIf="user.head_of_family == '1'">
            <ion-label>Allow Parental Controls</ion-label>
            <ion-checkbox color="dark" formControlName="allow_parental_control" ></ion-checkbox>
          </ion-item>
  
        </ion-list>
      
        <div padding>
          <ion-button shape="round" color="primary" expand="block" type="submit">{{btnText}}</ion-button>
        </div>

    </form>
  </ion-list>



</ion-content>